*{
    margin: 0;
    padding: 0;
   
}
.title{
    color: rgb(0, 51, 255);
    margin: 10px 0;
    font-weight: bold;
    font-size: 50px;

}

.des{
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    min-width: 500px;
}



.left , .right{
    width: 50%;
    padding: 20px;
}

.left{
    padding-left: 8%;

}


.right{
    /* background-color: rgb(248, 255, 47); */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.loginBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 70%;
    border: 1px solid grey;
    padding: 10px;
    gap:10px;
    border-radius: 5px;
    margin-bottom: 20px;


}


.inputs{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
}

.inputs input{
    padding: 8px 8px;
    border-radius: 5px;
    border: 1px solid grey;

}

.blue{
    background-color: rgb(0, 85, 255);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.loginBlock button{
    width: 100%;
    padding: 8px 8px;
    border-radius: 5px;
    border: 1px solid #39b400;
    background-color:#39b400;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 0 0 10px 0;
}

.black{
    font-weight: bold;
    color: black;
}

.line{
    
    width: 100%;
    height: 1px;
    background-color: rgb(173, 172, 172);
    margin-top: 10px;
    margin-bottom: 10px;
}

.black:hover{
    cursor: pointer;
    text-decoration: underline;
}


@media only screen and (max-width: 600px)
{
    
.container{
    display: flex;
    flex-direction: column;
    
}  

.des{
    display: none;
}

.left{
    text-align: center;
}

.right{
    text-align: center;
}

.loginBlock{
    width: 100%;
    height: 70%;
    text-align: center;
    padding: 30px;
}

}






